<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="container"></div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">movieTickets</h5>
            </div>
            <div class="col l3 s12">
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <ul>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>



<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="./static/js/lib/materialize.js"></script>
<script src="./static/js/lib/init.js"></script>
<script src="./static/js/index.js" type="text/babel"></script>