<link href="./static/css/movie.css" type="text/css" rel="stylesheet" media="screen,projection"/>

<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <div class="searchContainer">
        <i class="search">add</i>
       <span><input class="search" type="search" maxlength="32" placeholder="找电影" autocomplete="off"/></span>
        </div>
    </div>
</nav>

<div id="container"></div>

<footer class="custom-footer teal">
            <h5 class="white-text footer-text">movieTickets</h5>
            <div class="footer-logo">
                <ul>
                    <li><img class="srcLogo" src="./static/images/maoyan.png"/><a class="white-text" href="http://maoyan.com/">猫眼</a></li>
                </ul>
            </div>
            <div class="footer-logo">
                <ul>
                    <li><img class="srcLogo" src="./static/images/douban.png"/><a class="white-text" href="http://douban.com/">豆瓣</a></li>
                </ul>
            </div>
    <div class="footer-logo">
        <ul>
            <li><img class="srcLogo" src="./static/images/mtime.jpg"/><a class="white-text" href="http://mtime.com/">时光</a></li>
        </ul>
    </div>
</footer>



<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="./static/js/lib/materialize.js"></script>
<script src="./static/js/lib/init.js"></script>
<script src="./static/js/index.js" type="text/babel"></script>