<link href="./static/css/movieDetail.css" type="text/css" rel="stylesheet" media="screen,projection"/>

<div class="movieInfoContainer">
    <div class="movieInfoInner">
        <div class="bg-blur">
            <img src=$!result.movie.img />
        </div>
        <div class="mask"></div>
        <div class="outImg">
            <img src=$!result.movie.img />
        </div>
        <div class="movieSummary">
            <div class="movieName">$!result.movie.nm</div>
            <div class="movieScore">
                <b>$!result.movie.sc</b>
                <small>($!result.movie.snum 人评) 来自 <img class="srcLogo" src="./static/images/maoyan.png"/></small>
            </div>
            <div class="movieTag">$!result.movie.cat</div>
            <div class="movieDate">$!result.movie.rt | $!result.movie.dur 分钟</div>
        </div>
    </div>
    <div class="movieContent">
        <p>
            $!result.movie.dir 执导, $!result.movie.star 出演,$!result.movie.scm.
        </p>
        <p>
            $!result.movie.showInfo 来自<img class="srcLogo" src="./static/images/maoyan.png"/>
        </p>
    </div>
    <section class="hot-comment">
        <div class="comment-header">
            <p>
                观影评论
            </p>
        </div>
        <div id="comment-content" >
                #foreach($comment in $result.comments)
                    <div class="comment-item">
                        <div class="user-avatar">
                            <img class="avatar-img" src=$!comment.avatarurl>
                        </div>
                        <div class="comment-info">
                            <div class="comment-approve">
                                <b class="comment-username">$!comment.nickName</b>
                                #if($comment.score > 3.5)
                                    <span class="comment-tag">值得一看</span>
                                #end
                                <span class="approve">$!comment.approve 赞</span>
                            </div>
                            <p>
                                $!comment.content
                            </p>
                            <div class="comment-time">
                                $!comment.time
                                <span class="reply">$!comment.reply 回应</span>
                            </div>
                        </div>
                    </div>

                #end
        </div>

    </section>
</div>

<script src="./static/js/comment.js" type="text/babel"></script>
