<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>movieTickets</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="./static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!--  Scripts-->

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="./static/js/lib/react.js"></script>
    <script src="./static/js/lib/react-dom.js"></script>
    <script src="./static/js/lib/browser.min.js"></script>

</head>
<body>


<main>
    $screen_content
</main>





</body>
</html>